html {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #e0e0e0;
}

p {
  font-size: large;
  font-style: italic;
}

.logo {
  height: 80%;
 padding-top: 10%;
}

@media only screen and (max-width: 425px) {
  #map {
    height: 250px;
  }

}
#author {
  color: rgb(85, 85, 85);
  font-style: italic;
}
.car-model {
  margin: 1%;
}
h3 {
  font-size: 14px;
  font-weight: bold;
}

#car-details-btn {
  margin-top: 2%;
}

.remove-btn {
  padding: 1%
}

.my-car-container {
  margin-bottom: 1%
}