html {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #757575;
}

p {
  font-size: large;
  font-style: italic;
}

@media only screen and (max-width: 425px) {
  #map {
    height: 300px;
  }
}